black
flake8
ipython
isort
jupyter
jupyterlab
kedro
kedro-telemetry
nbstripout
pytest-cov
pytest-mock
pytest

scikit-learn
pandas
kedro-datasets
pyarrow
fastparquet
black[jupyter]
kedro-viz
kedro-mlflow
optuna
